.mainInfoBlock{
    background: rgb(96, 164, 173);
    max-width: 700px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
    padding: 20px;
    transition: transform 1s;
    &:hover{
        transform: scale(1.02);
    }
    .infoBlock{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.lime{
    color: lime;
}
.yellow{
    color: yellow
}